<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HHKPS2USBDriver</string>
	<key>CFBundleGetInfoString</key>
	<string>Driver for HHK via PS/2 to USB coverter, Ver 1.0.6</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.nnip.driver.HHKPS2USBDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HHKPS2USBDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.6</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HHK via CHESEN PS2 to USB Converter</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.nnip.driver.HHKPS2USBDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>HHKPS2USBDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>517</integer>
			<key>idVendor</key>
			<integer>2689</integer>
		</dict>
		<key>HHK via Digital Stream DS068001A-DG</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.nnip.driver.HHKPS2USBDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>HHKPS2USBDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>1870</integer>
		</dict>
		<key>HHK via ForYou FUX-PS2/B</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.nnip.driver.HHKPS2USBDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>HHKPS2USBDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>3389</integer>
		</dict>
		<key>HHK via IOGear GUC100KM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.nnip.driver.HHKPS2USBDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>HHKPS2USBDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>516</integer>
			<key>idVendor</key>
			<integer>1367</integer>
		</dict>
		<key>HHK via SANWA SUPPLY USB-CVPS1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.nnip.driver.HHKPS2USBDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>HHKPS2USBDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>2873</integer>
		</dict>
		<key>HHK via SUNFACE USS202</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.nnip.driver.HHKPS2USBDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>HHKPS2USBDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>255</integer>
			<key>idVendor</key>
			<integer>1204</integer>
		</dict>
		<key>HHK via Corega CG-USBKMSV2 (incomplete)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.nnip.driver.HHKPS2USBDriver</string>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOClass</key>
			<string>HHKPS2USBDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>52</integer>
			<key>idVendor</key>
			<integer>1962</integer>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2005-2007 NAKAHASHI Ichiro</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.6.5</string>
		<key>com.apple.iokit.IOUSBHIDDriver</key>
		<string>2.2.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.7</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
</dict>
</plist>
